services:
  almizan-db:
    image: surrealdb/surrealdb:v2.4.0
    user: root
    ports:
      - "8000:8000"
    command: start --log debug --user ${DB_USER} --pass ${DB_PASS} file:///mydata/surreal.db
    volumes:
      - surreal_data:/mydata
    healthcheck:
      test: [ "CMD", "/surreal", "isready", "-e", "http://localhost:8000" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  almizan-core:
    build: ./almizan-core
    ports:
      - "3000:3000"
    environment:
      - DB_URL=almizan-db:8000
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NS=${DB_NS}
      - DB_DB=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      almizan-db:
        condition: service_healthy
    volumes:
      - ./almizan-core/static:/app/static
      - ./almizan-core/templates:/app/templates

volumes:
  surreal_data:
